:root{
    --hfont: 'Poppins', sans-serif;
    --pfont: 'Work Sans', sans-serif;
}
body{
    background: linear-gradient(to left top, #22333b, #2e466a, #6f4b89, #bd4380, #f04e4f);
    color: whitesmoke;
    font-family: var(--hfont);
    width: 80%;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: var(--pfont);
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav :hover{
    color: #f04e4f;
    border-bottom: 1px solid #2e466a;
    transition: 0.7s ease-in-out;
}
.header{
    margin-top: 100px;
}
span{
    color: #f04e4f;
    font-family: var(--pfont);
}

#states,input{
    border: 1px transparent;
    color: whitesmoke;
    background: linear-gradient(to right bottom,  #f04e4f, #bd4380);
    width: 200px;
    text-align: center;
    font-family: var(--hfont);
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border-right: 0px;
    box-shadow: 0px 0px 20px 3px #bd4380;
}
input{
    color: #f04e4f;
    width: 44px;
    cursor: pointer;
    position: relative;
}
select{
    appearance: none;
    cursor: pointer;
    margin-top: 10px;
}

sup{
    font-size: 14px;
    color: #22333b;
    border-radius: 10px;
    position: relative;
}
#cloud{
    display: none;
}
.supi:hover {
   cursor: pointer;
   color: black;
   border-radius: 0px;
}
.supi:hover #cloud{
    display: inline-block;
    color: white;
    font-size: 9px;
    transform: translateY(-15px);    
}

.stateCaseDetails{
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    gap: 10px;
}
.boxCase{
    margin: 0 auto;
    width: 200px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #22333b;
    background: #22333b;
    color: #f04e4a;   
}
.boxCase:hover{
    transition: 0.5s ease-in;
    transform: translateY(-10px);
}
.boxCase h1{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--pfont);
    border-bottom: 2px solid #22333b;
}
.boxCase p{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    font-family: var(--hfont);
}
#active h1{
    border-bottom: 2px solid #f04e4f;
}
#total h1{
    border-bottom: 2px solid #2e466a;
}
#recovered h1{
    border-bottom: 2px solid #22333b;
}
#total{
    box-shadow: 0px 0px 10px 3px #f04e4f;
    color: #2e466a;
    background: #f04e4f;
}
#recovered{
    box-shadow: 0px 0px 20px 3px #2e466a;
    color: #22333b;
    background: #2e466a;
}
.covidGraph{
    margin-top: 200px;
    margin-bottom: 50px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px 3px #22333b;

}
h3{
    text-align: center;
    font-family: var(--hfont);
    color:#bd4380;
    border-bottom:  medium solid #bd4380;
}
.footer{
    margin-top: 100px;
    text-align: center;
    color: grey;
    box-shadow: 0 0 20px 3px #bd4380;
    border-radius: 20px;
}
.footer a{
    text-decoration: none;
    color: #bd4380;
}